* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1E1940;
    color: #44F2E1;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

.nav {
    color: #F2AEE0;
    background-color: #F2AEE0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a {
    margin-right: 25px;
}

.primeiraSessao {
    height: 300px;
    background-image: url("./img/fundo.jpg");
    background-size: cover;
    background-position: center;
    color: #d9d9d9;
    padding: 30px;

    p {
        margin-top: 20px;
        width: 500px;
        text-align: justify;
    }
}

h3 {
    padding: 30px;
    text-align: center;
    background-color: #6241D9;
    color: #F2AEE0;
}

article {
    width: 300px;
    height: 300px;
    background-color: #F2AEE0;
    padding-top: 20px;
    

    figure {
        padding-left: 20px;

        img {
            width: 150px;
            height: 200px;
            object-fit: fill;
            margin: 10px;
            padding-left: 5px;
        }
    }
}

.lol {
    text-align: center;
}

.valorant {
    text-align: center;
}

.cs2 {
    text-align: center;
}

.pubg {
    text-align: center;
}

.dota {
    text-align: center;
}

.fortnite {
    text-align: center;
}

.gta {
    text-align: center;
}

.dbd {
    text-align: center;
}

.genshin {
    text-align: center;
}

.populares {
    display: flex;
}

.frost {
    text-align: center;
}

.stalker2 {
    text-align: center;
}

.god {
    text-align: center;
}

.wukong {
    text-align: center;
}

.starwars {
    text-align: center;
}

.silent {
    text-align: center;
}

.astrobot {
    text-align: center;
}

footer {
    text-align: center;
    background-color: gray;
    color: #fff;
}